<div class="mx-sm-3 mb-2">
  <h1>Stupid coach</h1>
</div>


<form action="/answer" method="get" class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" name="question" placeholder="Ask your coach anything" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Ask</button>
</form>
