// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0 auto;
}

.container {
  // display: flex;
  margin: 30px;
  // flex-direction: column;
  h1 {
    font-size: 28px;
    border-bottom: 1px solid;
    margin-bottom: 100px;
  }
}

a {
  text-decoration: none;
  color: grey;
  &:hover {
    color: black;
  }
}
